@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?  family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&display=swap"); */

/* body {
  font-family: "Montserrat", sans-serif;
} */

/* @import "@fontsource/alegreya-sans";
@import "@fontsource/alegreya-sans/400.css";
@import "@fontsource/alegreya-sans/400-italic.css";

body {
  font-family: "Alegreya Sans";
} */
/* 
@import "@fontsource/league-spartan";
@import "@fontsource/league-spartan/400.css";
@import "@fontsource/league-spartan/400-italic.css";

body {
  font-family: "League Spartan";
} */
